@tailwind base;
@tailwind components;
@tailwind utilities;

.user-select-none {
  user-select: none;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}
